USE [master]
GO
/****** Object:  Database [DBBookShare]    Script Date: 11/19/2018 1:45:51 AM ******/
CREATE DATABASE [DBBookShare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBBookShare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBBookShare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBBookShare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBBookShare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBBookShare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBBookShare]
GO
USE [DBBookShare]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[author] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](100) NOT NULL,
	[language] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [int] NOT NULL,
	[coverImg] [nvarchar](100) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[creatorID] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookRating]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ratePoint] [real] NOT NULL,
	[userID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
 CONSTRAINT [PK_BookRating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookReview]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReview](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[userID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
 CONSTRAINT [PK_BookReview] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradedBookImage]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradedBookImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](100) NOT NULL,
	[tradingID] [int] NOT NULL,
 CONSTRAINT [PK_TradedBookImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trading]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trading](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[tradingStatus] [int] NOT NULL,
	[completedTime] [datetime] NULL,
	[lenderRatePoint] [real] NULL,
	[borrowerRatePoint] [real] NULL,
	[bookID] [int] NOT NULL,
	[lenderID] [int] NOT NULL,
	[borrowerID] [int] NULL,
 CONSTRAINT [PK_Trading] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/19/2018 1:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](200) NOT NULL,
	[dob] [date] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phoneNum] [nvarchar](50) NULL,
	[linkFacebook] [nvarchar](200) NULL,
	[avatar] [nvarchar](100) NULL,
	[userPoint] [real] NOT NULL,
	[createdTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Art and music')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Biographies')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Business')
SET IDENTITY_INSERT [dbo].[TradedBookImage] ON 

INSERT [dbo].[TradedBookImage] ([id], [image], [tradingID]) VALUES (3, N'24_131868988435729406_1.jpg', 24)
INSERT [dbo].[TradedBookImage] ([id], [image], [tradingID]) VALUES (4, N'24_131868988435827002_2.jpg', 24)
INSERT [dbo].[TradedBookImage] ([id], [image], [tradingID]) VALUES (5, N'24_131868988436159394_3.jpg', 24)
SET IDENTITY_INSERT [dbo].[TradedBookImage] OFF
SET IDENTITY_INSERT [dbo].[Trading] ON 

INSERT [dbo].[Trading] ([id], [description], [tradingStatus], [completedTime], [lenderRatePoint], [borrowerRatePoint], [bookID], [lenderID], [borrowerID]) VALUES (4, N'Sách like new, mua tầm hơn năm, mép sau hơi quăn', 0, CAST(N'2018-03-02T00:00:00.000' AS DateTime), NULL, NULL, 8, 1, NULL)
INSERT [dbo].[Trading] ([id], [description], [tradingStatus], [completedTime], [lenderRatePoint], [borrowerRatePoint], [bookID], [lenderID], [borrowerID]) VALUES (7, N'Sách khá cũ, nhưng giấy vẫn còn thơm', 0, CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, NULL, 8, 2, NULL)
INSERT [dbo].[Trading] ([id], [description], [tradingStatus], [completedTime], [lenderRatePoint], [borrowerRatePoint], [bookID], [lenderID], [borrowerID]) VALUES (9, N'Sách mưa hôm qua, nhưng mà lười đọc quá nên bạn nào có nhu cầu mình cho mượn', 0, CAST(N'2018-11-09T00:00:00.000' AS DateTime), NULL, NULL, 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[Trading] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [fullName], [dob], [username], [password], [email], [address], [phoneNum], [linkFacebook], [avatar], [userPoint], [createdTime]) VALUES (1, N'nam nguyen the', CAST(N'1998-10-06' AS Date), N'nam', N'123', N'namnguyen61031@gmail.com', N'Co Nhue, Ha Noi', N'012345678', N'https://www.facebook.com/profile.php?id=100005250157129', N'nam.jpg', 0, CAST(N'2018-10-06T22:11:00.000' AS DateTime))
INSERT [dbo].[User] ([id], [fullName], [dob], [username], [password], [email], [address], [phoneNum], [linkFacebook], [avatar], [userPoint], [createdTime]) VALUES (2, N'tuan dao thien', CAST(N'1998-10-12' AS Date), N'tuan', N'123', N'tuandao@gmail.com', N'Dich Vong, Ha Noi', N'012345678', N'https://www.facebook.com/search/top/?q=%C4%91%C3%A0o%20thi%E1%BB%87n%20tu%E1%BA%A5n', N'tuan.jpg', 0, CAST(N'2018-03-03T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([id], [fullName], [dob], [username], [password], [email], [address], [phoneNum], [linkFacebook], [avatar], [userPoint], [createdTime]) VALUES (3, N'nam anh', CAST(N'1998-01-22' AS Date), N'namanh', N'123', N'namanh@gmail.com', N'Cau Dien, Ha Noi', N'012345678', N'https://www.facebook.com/profile.php?id=100003931914710', N'na.jpg', 0, CAST(N'2018-05-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_User] FOREIGN KEY([creatorID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_User]
GO
ALTER TABLE [dbo].[BookRating]  WITH CHECK ADD  CONSTRAINT [FK_BookRating_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[BookRating] CHECK CONSTRAINT [FK_BookRating_Book]
GO
ALTER TABLE [dbo].[BookRating]  WITH CHECK ADD  CONSTRAINT [FK_BookRating_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[BookRating] CHECK CONSTRAINT [FK_BookRating_User]
GO
ALTER TABLE [dbo].[BookReview]  WITH CHECK ADD  CONSTRAINT [FK_BookReview_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[BookReview] CHECK CONSTRAINT [FK_BookReview_Book]
GO
ALTER TABLE [dbo].[BookReview]  WITH CHECK ADD  CONSTRAINT [FK_BookReview_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[BookReview] CHECK CONSTRAINT [FK_BookReview_User]
GO
ALTER TABLE [dbo].[TradedBookImage]  WITH CHECK ADD  CONSTRAINT [FK_TradedBookImage_Trading] FOREIGN KEY([tradingID])
REFERENCES [dbo].[Trading] ([id])
GO
ALTER TABLE [dbo].[TradedBookImage] CHECK CONSTRAINT [FK_TradedBookImage_Trading]
GO
ALTER TABLE [dbo].[Trading]  WITH CHECK ADD  CONSTRAINT [FK_Trading_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[Trading] CHECK CONSTRAINT [FK_Trading_Book]
GO
ALTER TABLE [dbo].[Trading]  WITH CHECK ADD  CONSTRAINT [FK_Trading_User] FOREIGN KEY([lenderID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Trading] CHECK CONSTRAINT [FK_Trading_User]
GO
ALTER TABLE [dbo].[Trading]  WITH CHECK ADD  CONSTRAINT [FK_Trading_User1] FOREIGN KEY([borrowerID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Trading] CHECK CONSTRAINT [FK_Trading_User1]
GO
USE [master]
GO
